/*Variables*/

$lato: "Lato",
serif;
$black: #000;
$white: #fff;
$alto: #d9d9d9;

/*Config*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    font-size: 14px;
    font-family: $lato;
    background-color: $white;
    font-weight: 500;
    line-height: 1.1;
}

.container {
    width: 100%;
    padding: 15px;
}


/*Table Styles*/

.tbl {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    table-layout: auto;
    border-collapse: collapse;
    overflow: hidden;
    th,
    td {
        padding: 15px;
        border: 1px solid $alto;
    }
    /*thead*/
    th {
        background: darken($white, 5%);
        color: #5E5E5E;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
    }
    /*tbody*/
    td {
        background: darken($white, 2%);
        color: lighten(#000, 10%);
        font-size: 13px;
        cursor: pointer;
    }
    tr:hover td {
        background: lighten(#03BBD4, 55%);
    }
}


/*Form Styles*/

.frm {
    position: relative;
    float: right;
    width: 300px;
    margin: 10px 0;
    border: 1px solid $alto;
    input {
        width: 100%;
        border-radius: 1px;
        padding: 10px 120px 10px 15px;
        border: 0;
        font-family: inherit;
    }
    button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50px;
        background: none;
        border: 1px;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            top: 20%;
            bottom: 20%;
            left: 0;
            width: 1px;
            background: $alto;
        }
        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 20px;
            height: 20px;
            margin: auto;
            fill: $alto;
        }
    }
}